html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    font-size: 1rem;
    color: #F2613F;
    background-color: #481E14;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "inter", sans-serif;
    font-weight: 600;
    color: #F2613F;
}

h1 {
    font: 2.5rem;
}

h2 {
    font: 2rem;
}

h3 {
    font: 1.75rem;
}

h4 {
    font: 1.5rem;
}

h5 {
    font: 1.25rem;
}

h6 {
    font: 1rem;
}

a {
    color: #f2613f;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #f2613f;
}

#navbar {
    padding: 8px;
}

#pizza {
    height: 75px;
    margin: 0;
}

#banner {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

h1 {
    text-align: center;
    margin: 8px 0;
}

#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-right: 8px;
}

#description {
    font-size: 1.25rem;
}

#side-image {
    border-radius: 5px;
    width: 100%;
}

#team {
    width: 100%;
}


h2 {
    text-align: center;
    margin-top: 20px;
}

#jobs {
    color: #f2613f;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;

}

#jobs-list {
    display: block;
}

.jobs-table {
    display: none;
}

/* Small Devices (tablets) */
@media screen and (min-width: 576px) {
    html {
        font-size: 16px;
    }

    #banner {
        height: 200px;
    }

    h1 {
        margin: 8px 0;
    }
}

/* Medium Devices (LAPTOPS) */

@media screen and (min-width: 768px) {

    /* rules */
    #banner {
        height: 300px;
    }

    h1 {
        margin: 20px 0;
    }

    #about {
        max-width: 900px;
        margin: 0 auto;
        /* Center the whole container on the page */
        display: flex;
        flex-direction: row;
        /* Side-by-side */
        justify-content: center;
        /* Center content horizontally */
        align-items: center;


    }

    #description {
        flex: 1;

    }

    #side-image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    #team {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    #jobs {
        min-width: 800px;
    }

    #jobs-list {
        display: none;
    }

    .jobs-table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;


    }

    .job-header th {
        background-color: black;

        border: px solid black;
        padding: 8px;
        text-align: center
    }

    .jobe-data td {
        border: 3px solid black;
        padding: 8px;

    }

    .job-header th {
        background-color: #2f0202;
        border: 3px solid #BA704F;
    }

    .jobe-data td {
        background-color: #5a0000;
        border-color: #BA704F;
    }

}

/* Large Devices (desktops) */

@media screen and (min-width: 992px) {

    /* rules */
    h1 {
        margin: 16px 0;
    }

    #team {
        width: 50%;
    }

    #side-image {
        width: 50%;
    }
}

/* Extra Large Devices (desktops) */

@media screen and (min-width: 1200px) {

    /* rules */
    #banner {
        height: 320px;
    }

    h1 {
        margin: 20px 0;
    }
}

/*


h1, h2, h3, h4, h5, h6 {
    
    color: #F2613F;
}





















h3 {
    margin-bottom: 8px;
    margin-top: 0;
}

.apply {
    float: right;
}

.job-role {
    color: rgb(242, 146, 37);
    margin-bottom: 16px;
}

.links {
    margin-left: -25px;
    
    
}

#copyright {
    text-align: center;
    color: #F2613F;
}

.low-links {
    margin-top: 10px;
    text-align: center;
    
}

#youtube {
    padding: 20px;
    color: #F2613F;
}

#content {

    color: #F2613F;

}

#info {
    color: #F2613F;

}

#about {
    color: #F2613F;
}

#our {
    color: #F2613F;
}

a {
    text-decoration: none; 
    color: #FF9F66;
}

#Application {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#apply-form {
    font-weight: 600;
}

#apply-form input, select, textarea {
    font-size: 1.25rem;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid gray;

}

.form-group textarea{
    

    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form-group input[type="submit"]{

    background-color: #F2613F;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 16px 16px 16px;
    border-color: 4px solid white;
}
*/