body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#navbar {
    padding: 8px;
}

#pizza {
    height: 75px;
    margin: 0;
}
h1 {
    text-align: center;

}

#banner {
    object-fit: cover;
    width: 100%;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-right: 8px;
}

#description {
    width: 50%;
    padding: 0 8px;
    
}

#team {
    width: 50%;
}

#side-image {
    border-radius: 5px;
    width: 100%;
    
        
}

.jobs-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.job-header th{
    border: 1px solid   black;
}


.jobe-data {
    border: 1px solid  black;
}

h2 {
    text-align: center;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}


h3 {
    margin-bottom: 8px;
    margin-top: 0;
}

.apply {
    float: right;
}

.job-role {
    color: rgb(242, 146, 37);
    margin-bottom: 16px;
}

.links {
    margin-left: -25px;
    
}