body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    font-size: 1rem;
    color: #F2613F;
    background-color: #481E14;
    font-weight: 600;
}  

h1, h2, h3, h4, h5, h6 {
    
    color: #F2613F;
}


#navbar {
    padding: 8px;
}

#pizza {
    height: 75px;
    margin: 0;
}
h1 {
    text-align: center;

}

#banner {
    object-fit: cover;
    width: 100%;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-right: 8px;
}

#description {
    width: 50%;
    padding: 0 8px;
    
}

#team {
    width: 50%;
    border-color: #A64B2A;
    border: 20px;
}

#side-image {
    border-radius: 5px;
    width: 100%;
    margin-left: 40px;
        
}

.jobs-table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders so they don't double up */
    margin: 0 auto; /* Center the table */
    background-color: black;
    
}

.job-header th {
    background-color: black;

    border: px solid black; /* Add borders to header and data cells */
    padding: 8px; /* Add padding to the cells */
    text-align: center
}
.jobe-data td {
    border: 3px solid black; /* Add borders to header and data cells */
    padding: 8px; /* Add padding to the cells */

}

.job-header th {
    background-color: #652401; /* Light gray background for header */
    border: 3px solid #BA704F;
}

.jobe-data td {
    background-color: #652401; /* White background for job data rows */
    border-color: #BA704F;
}


h2 {
    text-align: center;
    margin-top: 20px;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    color: #FFFAE6;
}


h3 {
    margin-bottom: 8px;
    margin-top: 0;
}

.apply {
    float: right;
}

.job-role {
    color: rgb(242, 146, 37);
    margin-bottom: 16px;
}

.links {
    margin-left: -25px;
    
    
}

#copyright {
    text-align: center;
    color: #F2613F;
}

.low-links {
    margin-top: 10px;
    text-align: center;
    
}

#youtube {
    padding: 20px;
    color: #F2613F;
}

#content {

    color: #F2613F;

}

#info {
    color: #F2613F;

}

#about {
    color: #F2613F;
}

#our {
    color: #F2613F;
}

a {
    text-decoration: none; /* Removes the underline */
    color: #FF9F66;
}

#Application {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#apply-form {
    font-weight: 600;
}

#apply-form input, select, textarea {
    font-size: 1.25rem;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid gray;

}

.form-group textarea{
    

    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form-group input[type="submit"]{

    background-color: #F2613F;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 16px 16px 16px;
    border-color: 4px solid white;
}