html {
    font-size: 16px;
    color: orangered;
    background-color: black;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    
    
}

s
#navbar {
    padding: 8px;
}

#pizza {
    height: 75px;
    margin: 0;
}
h1 {
    text-align: center;

}

#banner {
    object-fit: cover;
    width: 100%;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-right: 8px;
}

#description {
    width: 50%;
    padding: 0 8px;
    
}

#team {
    width: 50%;
}

#side-image {
    border-radius: 5px;
    width: 100%;
    margin-left: 40px;
        
}

.jobs-table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders so they don't double up */
    margin: 0 auto; /* Center the table */
    
}

.job-header th {

    border: 1px solid black; /* Add borders to header and data cells */
    padding: 8px; /* Add padding to the cells */
    text-align: center
}
.jobe-data td {
    border: 1px solid black; /* Add borders to header and data cells */
    padding: 8px; /* Add padding to the cells */

}

.job-header th {
    background-color: #f2f2f2; /* Light gray background for header */
}

.jobe-data td {
    background-color: #fff; /* White background for job data rows */
}


h2 {
    text-align: center;
    margin-top: 20px;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}


h3 {
    margin-bottom: 8px;
    margin-top: 0;
}

.apply {
    float: right;
}

.job-role {
    color: rgb(242, 146, 37);
    margin-bottom: 16px;
}

.links {
    margin-left: -25px;
    
}

#copyright {
    text-align: center;
}

.low-links {
    margin-top: 10px;
    text-align: center;
}

#youtube {
    padding: 20px;
    color: #f2f2f2;
}

#content {
    color: #f2f2f2;
}

#info {
    color: #f2f2f2;
}
